<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.porfirio.orariprocida2011"
    android:versionCode="57"
    android:versionName="1.13beta6">
    <!-- <uses-sdk android:minSdkVersion="4" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".utils.AnalyticsApplication"
        android:configChanges="locale"
        android:icon="@drawable/ic_launcher_traghetti"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@style/UnoProcidaResidenteTheme"
        android:usesCleartextTraffic="true">
        <service android:name=".threads.weather.WeatherService" />
        <service android:name=".threads.alerts.AlertsService"/>
        <service android:name=".threads.transports.TransportsService"/>
        <service android:name=".threads.companies.CompaniesService"/>
        <service android:name=".threads.taxies.TaxisService"/>
        <activity
            android:name=".activities.InfoActivity"
            android:exported="true" >
        </activity>
        <!-- <service -->
        <!-- android:name=".threads.weather.WeatherService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"></service> -->
        <activity
            android:name=".activities.OrariProcida2011Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.unoprocidaresidente.com” -->
                <data
                    android:host="www.unoprocidaresidente.com"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
    </application>

</manifest>